<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'History' }) %>
    <link rel="stylesheet" href="/history.css">
</head>
<body>
<main>
<header>
    <a href="/"><img src="chart.jpg" alt="Home"></a>
    <h1>Transaction History</h1>
</header>
<section>
    <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% for (const transaction of transactions) { %>
            <tr>
                <td><%=transaction.date%></td>
                <td><%=transaction.description%></td>
                <td><%=transaction.category%></td>
                <td><%=`$${(transaction.amount / 100.0).toFixed(2)}`%></td>
            </tr>
        <% } %>
    </tbody>
    </table>
</section>
</main>
</body>
</html>