<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'History', stylesheets: ['styles', 'subpage', 'history'], scripts: ['history'] }) %>
    <script src="/history.js" defer></script>
</head>
<body data-user="<%=uid%>">
<main>
<%- include('partials/header', { title: 'Transaction History', goBackLink: "" }) %>
<section>
    <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th><button id="add-button">Add Transaction</button></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for (const transaction of transactions.reverse()) { %>
            <tr data-transaction="<%=transaction.id%>">
                <%- include('partials/transaction', { transaction }) %>
                <td><button class="edit-button">Edit Transaction</button></td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
        <% } %>
    </tbody>
    </table>
</section>
</main>
</body>
</html>
