<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Financialytics', stylesheets: ['styles', 'home']}) %>
    <script src="/home.js" defer></script>
</head>
<body data-user="<%=JSON.stringify(user)%>">
<main id="home">
    <header class="division">
        <h1>Financialytics</h1>
    </header>
    <section id="summary" class="division">
        <a id="charts" href="/charts"><h2>Spending Summary - <%=month%></h2></a>
        <div id="chart">
            <img src="<%=chart%>" alt="Spending Summary">
        </div>
    </section>
    <section id="recent" class="division">
        <a id="history" href="/history?uid=<%=user.id%>"><h2>Recent Transactions</h2></a>
        <table id="transactions">
            <% for (const transaction of recentTransactions.reverse()) { %> 
                <tr>
                    <%- include('partials/transaction', { transaction }) %>
                </tr>
            <% } %>
        </table>
    </section>
</main>
<section id="target-panel" class="division sidebar">
    <h2>Targets - <%=month%></h2>
    <div class="target">
        <h3>Monthly Budget</h3>
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBarMonthly"></div>
        </div>
        <div class="values">
            <% const { income, ...nonIncomeTargets } = targets%>
            <span id="monthlyCurrent">$<%=transactions.filter(transaction => transaction.category !== "income").reduce((acc, transaction) => acc + transaction.amount, 0) / 100%></span>
            <span id="monthlyBudget">$<%=Object.values(nonIncomeTargets).reduce((acc, target) => acc + target, 0) / 100%></span>
        </div>
    </div>
    <% for (const target in targets) { %>
    <div class="target">
        <h3><%=target.charAt(0).toUpperCase() + target.slice(1)%></h3>
        <% const currentValue = transactions.filter(transaction => transaction.category === target).reduce((acc, transaction) => acc + transaction.amount, 0) / 100 %>
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBar<%=target.charAt(0).toUpperCase() + target.slice(1)%>"></div>
        </div>
        <div class="values">
            <span id="<%=target%>Current" data-<%=target%>="<%=currentValue%>">$0</span>
            <span id="<%=target%>Budget" data-budget="<%=targets[target] / 100%>">$0</span>
        </div>
    </div>
    <% } %>
    <button id="edit-button">Edit Targets</button>
</section>
<section id="target-config" class="division sidebar" style="display: none;">
    <h2>Edit Targets</h2>
    <% for (const target in targets) { %>
    <div class="target-input">
        <h3><%=target.charAt(0).toUpperCase() + target.slice(1)%></h3>
        <input type="number" id="<%=target%>BudgetInput" value="<%=targets[target] / 100%>">
    </div>
    <% } %>
    <div id="form-buttons">
        <button id="save-button">Save</button>
        <button id="cancel-button">Cancel</button>
    </div>
</section>
</body>
</html>