<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Financialytics'}) %>
    <link rel="stylesheet" href="/home.css">
    <script src="/home.js" defer></script>
</head>
<body data-user="<%=user%>">
<main id="home">
    <header class="division">
        <h1>Financialytics</h1>
    </header>
    <section id="summary" class="division">
        <a id="charts" href="/charts"><h2>Spending Summary - <%=month%></h2></a>
        <div id="chart">
            <img src="<%=chart%>" alt="Spending Summary">
        </div>
    </section>
    <section id="recent" class="division">
        <a id="history" href="/history?uid=<%=user.id%>"><h2>Recent Transactions</h2></a>
        <table id="transactions">
            <% for (const transaction of transactions.reverse()) { %> 
                <tr>
                    <%- include('partials/transaction', { transaction }) %>
                </tr>
            <% } %>
        </table>
    </section>
</main>
<section id="sidebar" class="division">
    <h2>Targets</h2>
    <% for (const target in targets) { %>
    <div class="target">
        <h3><%=target.charAt(0).toUpperCase() + target.slice(1)%></h3>
        <% const currentValue = transactions.filter(transaction => transaction.category === target).reduce((acc, transaction) => acc + transaction.amount, 0) / 100 %>
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBar<%=target.charAt(0).toUpperCase() + target.slice(1)%>"></div>
        </div>
        <div class="values">
            <span id="<%=target%>Current" data-<%=target%>="<%=currentValue%>">$0</span>
            <span id="<%=target%>Budget" data-budget="<%=targets[target] / 100%>">$0</span>
        </div>
    </div>
    <% } %>
    <button>Edit Targets</button>
</section>
</body>
</html>