<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Financialytics'}) %>
</head>
<body data-user="<%=user%>">
<main id="home">
    <header class="division">
        <h1>Financialytics</h1>
    </header>
    <section id="summary" class="division">
        <a id="charts" href="/charts"><h2>Spending Summary - <%=month%></h2></a>
        <div id="chart">
            <img src="<%=chart%>" alt="Spending Summary">
        </div>
    </section>
    <section id="recent" class="division">
        <a id="history" href="/history?uid=<%=user.id%>"><h2>Recent Transactions</h2></a>
        <table id="transactions">
            <% for (const transaction of transactions) { %> 
                <tr>
                    <td><%=transaction.date%></td>
                    <td><%=transaction.description%></td>
                    <td><%=transaction.category%></td>
                    <td><%=`$${(transaction.amount / 100.0).toFixed(2)}`%></td>
                </tr>
            <% } %>
        </table>
    </section>
</main>
<section id="sidebar" class="division">
    <div id="headlines">
        <h2>Headlines</h2>
        <% for (let i = 0; i < 5; i++) { %>
        <div class="headline">
            <p>Lorem Ipsum</p>
        </div>
        <% } %>
    </div>
    <div id="stocks">
        <h2>Stocks</h2>
        <% for (let i = 0; i < 5; i++) { %>
        <div class="stock">
            <p>Lorem Ipsum</p>
        </div>
        <% } %>
    </div>
</section>
</body>
</html>