<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title: 'Financialytics', stylesheets: ['styles', 'home']}) %>
    <script src="/home.js" defer></script>
</head> 
<% const targetNames = targets.map(target => target.name) %>
<body data-user="<%=user.id%>" data-targets="<%=targetNames.join(',')%>">
<main id="home">
    <header class="division">
        <h1>Financialytics</h1>
    </header>
    <section id="summary" class="division">
        <a id="charts" href="/charts"><h2>Spending Summary - <%=month%></h2></a>
        <div id="chart">
            <img src="<%=chart%>" alt="Spending Summary">
        </div>
    </section>
    <section id="recent" class="division">
        <a id="history" href="/history?uid=<%=user.id%>"><h2>Recent Transactions</h2></a>
        <table id="transactions">
            <% for (const transaction of recentTransactions.reverse()) { %> 
                <tr>
                    <%- include('partials/transaction', { transaction }) %>
                </tr>
            <% } %>
        </table>
    </section>
</main>
<section id="target-panel" class="division sidebar">
    <div id="target-panel-header">
        <h2>Targets - <%=month%></h2>
        <img id="menu-icon" src="hamburger-menu.svg" alt="Menu">
    </div>
    <div class="target">
        <h3>Monthly Budget</h3>
        <div class="progress-bar-container">
            <div class="progress-bar" id="progressBarMonthly"></div>
        </div>
        <div class="values">
            <span id="monthlyCurrent">
                <% const includedTargets = targets.filter(t => t.included).map(t => t.name) %>
                $<%=Math.ceil(transactions.filter(transaction => includedTargets.includes(transaction.category)).reduce((acc, transaction) => acc + transaction.amount, 0) / 100)%>
            </span>
            <span id="monthlyBudget">
                $<%=(
                    targets.filter(t => t.included)
                        .map(t => t.amount)
                        .reduce((acc, target) => acc + target, 0) / 100
                ) * getLeniencyValue(leniency)%>
            </span>
        </div>
    </div>
    <% for (const target in targets) { %>
        <div class="target">
            <h3><%=toTitleCase(targets[target].name)%></h3>
            <% const currentValue = Math.ceil(transactions.filter(transaction => transaction.category === targets[target].name).reduce((acc, transaction) => acc + transaction.amount, 0) / 100) %>
            <% const trimmedTarget = targets[target].name.replaceAll(' ', '') %>
            <div class="progress-bar-container">
                <div class="progress-bar" id="progressBar<%=trimmedTarget%>"></div>
            </div>
            <div class="values">
                <span id="<%=trimmedTarget%>Current" data-<%=trimmedTarget%>="<%=currentValue%>">$0</span>
                <span id="<%=trimmedTarget%>Budget"
                    data-budget="<%=targets[target].amount / 100%>"
                    data-targetid="<%=targets[target].id%>"
                    data-included="<%=targets[target].included%>">$0</span>
            </div>
        </div>
    <% } %>
    <button id="edit-button">Edit Targets</button>
</section>
<section id="target-config" class="division sidebar" style="display: none;">
    <h2>Edit Targets</h2>
    <div id="leniency" class="target-input">
        <h3>Monthly Budget Leniency</h3>
        <select id="leniency-selector">
            <option value="lenient" <%= leniency === 'lenient' ? 'selected' : ''%>>Lenient</option>
            <option value="normal" <%= leniency === 'normal' ? 'selected' : ''%>>Normal</option>
            <option value="strict" <%= leniency === 'strict' ? 'selected' : ''%>>Strict</option>
        </select>
    </div>
    <% for (const target in targets) { %>
        <% const trimmedTarget = targets[target].name.replace(' ', '') %>
        <div class="target-input">
            <h3><%=toTitleCase(targets[target].name)%></h3>
            <input type="number" id="<%=trimmedTarget%>BudgetInput" value="<%=targets[target].amount / 100%>">
        </div>
    <% } %>
    <div id="form-buttons">
        <button id="save-button">Save</button>
        <button id="cancel-button">Cancel</button>
    </div>
</section>
</body>
</html>